{% extends 'main/base.html' %}


{% block content %}
<div class="conent-common conent-about">
    <p>This is the <b>about</b> section of this site</p>
    Author: <a href="https://github.com/krezelj" style="text-decoration: none;">Jan Krezel</a>
    <br>
    <p>
        CaRently was made as a project for my PAW class @ Warsaw University of Technology.<br>
        It was created using django framework. The whole project can be found 
        <a href="https://github.com/krezelj/paw-project" style="text-decoration: none;">on my github</a>
    </p>
</div>
{% endblock%}